p{
    border: solid 5Px aqua;

    font-size: 30px;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin: 20px;
    min-width: 100px;
}

input
{
    display: block;
    margin-top: 5px;
    text-align: center;
}

a{
    display: block;
    font-size: larger;
    text-align: center;
    margin-top: 4px;


}

a[href *= "ou"]
{
    background-color: yellow;
}